* {
  margin: 0;
  padding: 0;
  color: #f2cc0f;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");
body {
  background-color: black;
  color: white;
}
.anyabout {
  padding: 10px;
}
.sponsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.card {
  margin: 10px;
}
.navbar-brand {
  font-family: "Henny Penny", cursive;
  color: blue;
}
.navbar-brand-main {
  font-family: "Henny Penny", cursive;
  color: blue;
  text-decoration: none;
}
.card-text {
  border-top: 1px solid #000;
}
.navbar {
  height: 80px;
}
/* @media screen and (min-width: 800px) { 
  .navbar {
    display: ;
  }
}  */
.explain {
  background-color: #000;
  display: flex;
  color: white;
  /* border: 1px solid #f2cc0f; */
  border-radius: 10;
}
.explain-side {
  /* border: 1px solid #000; */
  background-color: #2be900;
  color: rgb(255, 247, 0);
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}
.any-explain {
  /* border: 1px solid #f2cc0f; */
  padding: 5px;
  /* text-decoration: underline; */
}
footer {
  color: white;
}
.slide {
  padding: 0px;
}
img {
  /* border-radius: 20px; */
}
@media screen and (max-width: 584px) {
  #navbar {
    width: 100%;
  }
  .navbar-brand {
    display: none;
  }
}
